Repository MagnaXSoftware/gokku: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build client, build server

.gitlab-ci.yml:

image: golang:1.11

stages:
  - build
  - release

build client:
  stage: build
  script:
    - mkdir build
    - cd client
    - go build -o ../build/gokku .
  artifacts:
    paths:
      - build/gokku
    expire_in: 7 day
  only:
    refs:
      - branches
    changes:
      - .gitlab-ci.yml
      - client/**/*

.cross_build_client: &cross_build_client
  stage: build
  script:
    - cd client
    - go get github.com/mitchellh/gox
    - gox -arch="${BUILD_ARCH}" -output="build/gokku-{{.OS}}-{{.Arch}}" .
  only:
    refs:
      - tags
      - /^client\/.*$/
  artifacts:
    paths:
      - client/build/*
    # expire fast given that the release job will cache them
    expire_in: 1 day

cross build client amd64:
  <<: *cross_build_client
  before_script:
    - export BUILD_ARCH=amd64

cross build client 386:
  <<: *cross_build_client
  before_script:
    - export BUILD_ARCH=386

cross build client arm:
  <<: *cross_build_client
  before_script:
    - export BUILD_ARCH=arm

release client:
  stage: release
  script:
    - ls client/build/
  artifacts:
    paths:
      - client/build/*
  only:
    refs:
      - tags
      - /^client\/.*$/


build server:
  stage: build
  script:
    - mkdir build
    - cd server
    - go build -o ../build/gokku-server .
  artifacts:
    paths:
      - build/gokku-server
    expire_in: 7 day
  only:
    refs:
      - branches
    changes:
      - .gitlab-ci.yml
      - server/**/*

server: added config unmarshalling
  server/gokku/config.go
  server/gokku/shell/shell.go
  server/main.go
  server/plugins.go
  server/setup.go
Due: build server

server: added config loading
  server/gokku/config.go
  server/gokku/shell/git.go
  server/gokku/shell/plugin.go
  server/setup.go
Due: build server

client: renamed config type and variable
  client/init.go
  client/main.go
  client/remote.go
Due: build client

server: Added first draft of app plugin
  server/cmd/root.go
  server/gokku/app/app.go
  server/gokku/app/create.go
  server/gokku/app/plugin.go
  server/gokku/shell/git.go
  server/gokku/shell/plugin.go
  server/main.go
Due: build server

server: added app deletion
  server/gokku/app/app.go
  server/gokku/app/create.go
  server/gokku/app/delete.go
  server/gokku/config.go
Due: build server

Switched to client-only application
  .gitlab-ci.yml
  client/init.go
  client/main.go
  client/remote.go
  cmd/gokku/main.go
  go.mod
  go.sum
  pkg/gokku/cli.go
  pkg/gokku/config.go
  pkg/gokku/init.go
  pkg/gokku/remote.go
Due: build client, build server

Update README
  README.md
Due: none

Add certs to CI script
  .gitlab-ci.yml
Due: build client, build server

Update README.md
  README.md
Due: none

Switch to alpine for builders, force CGO off
  .gitlab-ci.yml
Due: build client, build server
